body {
	color: $black-100;
	@extend %rubik;
	font-weight: 400;
	line-height: 1.5;
	font-size: 16px;
	background-color: $white;

	@include r($r-xl) {
		line-height: 1.7;
		font-size: 18px;
	}
}

a {
	text-decoration: none;
	color: $blue-dark;
}


.container {
	max-width: 1190px;
	margin: 0 auto;
	padding: 0 10px;

	&--big {
		max-width: 1790px;
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	bottom: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

.title {
	@extend %dmsans;
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	margin-bottom: 15px;

	@include r($r-m) {
		font-size: 30px;
	}
}

.logo {
	max-height: 50px;
	overflow: hidden;
	max-width: 170px;
}


.mix-nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 70px;

	@include r($r-m) {
		margin-bottom: 30px;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 15px;
		}
	}

	&__btn {
		@extend %dmsans;
		font-weight: 700;
		color: $grey;
		border: 1px solid transparent;
		background-color: transparent;
		transition: color ease 0.5s;

		&:focus {
			border-bottom-color: $blue-grey;
		}

		&:hover {
			color: $blue-grey;
		}
	}

	.mixitup-control-active {
		border-color: $orange;
		color: $orange;
	}
}

.link-btn {
	padding: 20px 102px 20px 28px;
	font-size: 15px;
	position: relative;
	transition: background-color ease 0.5s;
	outline: transparent;
	font-weight: 500;

	&__svg {
		position: absolute;
		right: 22px;
		top: 25px;
		transition: fill, right ease 0.5s;
	}

	&:focus {
		.link-btn__svg {
			fill: $white-200;
		}
	}

	&:hover {

		.link-btn__svg {
			fill: $white-100;
			right: 10px;
		}
	}
}