body {
	color: $black-100;
	@extend %rubik;
	font-weight: 400;
	line-height: 1.5;
	font-size: 16px;
	background-color: $white;

	@include r($r-xl) {
		line-height: 1.7;
		font-size: 18px;
	}
}

a {
	text-decoration: none;
	color: $blue-dark;
}


.container {
	max-width: 1190px;
	margin: 0 auto;
	padding: 0 10px;

	&--big {
		max-width: 1790px;
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	bottom: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}

.title {
	@extend %dmsans;
	font-weight: 700;
	font-size: 36px;
	text-align: center;
	margin-bottom: 15px;

	@include r($r-m) {
		font-size: 30px;
	}
}

.logo {
	max-height: 50px;
	overflow: hidden;
	max-width: 170px;
}


.mix-nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 70px;

	@include r($r-m) {
		margin-bottom: 30px;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 15px;
		}
	}

	&__btn {
		@extend %dmsans;
		font-weight: 700;
		color: $grey;
		border: 1px solid transparent;
		background-color: transparent;
		transition: color ease 0.5s;

		&:focus {
			border-bottom-color: $blue-grey;
		}

		&:hover {
			color: $blue-grey;
		}
	}

	.mixitup-control-active {
		border-color: $orange;
		color: $orange;
	}
}

.link-btn {
	padding: 20px 102px 20px 28px;
	font-size: 15px;
	position: relative;
	transition: background-color ease 0.5s;
	outline: transparent;
	font-weight: 500;

	&__svg {
		position: absolute;
		right: 22px;
		top: 25px;
		transition: fill, right ease 0.5s;
	}

	&:focus {
		.link-btn__svg {
			fill: $white-200;
		}
	}

	&:hover {

		.link-btn__svg {
			fill: $white-100;
			right: 10px;
		}
	}
}

.filter-title {
	@extend %dmsans;
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
	position: relative;
	padding-right: 55px;
	display: inline-block;
	margin-bottom: 20px;

	&::after {
		content: "";
		position: absolute;
		width: 39px;
		height: 3px;
		background-color: $blue-grey;
		right: 0px;
		top: 11px;
	}
}

.form {
	max-width: 830px;


	&__inputs {
		display: flex;
		justify-content: space-between;

		@include r($r-sm) {
			flex-wrap: wrap;
		}

		@include r($r-sm) {}
	}

	&__input {
		max-width: 400px;
		width: 100%;
		height: 50px;
		border: 1px solid #e5e5e5;
		padding: 20px;
		outline-color: $blue-grey;
		margin-bottom: 20px;
		background-repeat: no-repeat;
		background-position: 95% 18px;

		@include r($r-sm) {
			max-width: 100%;
		}

		@include r($r-xl) {
			&:not(:last-child) {
				margin-right: 15px;

				@include r($r-sm) {
					margin-right: 0;
				}
			}
		}

		&--name {
			background-image: url("../images/sprite.svg#inputuser");
			background-size: 18px 15px;
		}

		&--email {
			background-image: url("../images/sprite.svg#letter");
			background-size: 20px 16px;
		}

		&::placeholder {
			font-size: 14px;
			color: #999999;
		}
	}

	&__textarea {
		width: 100%;
		min-height: 120px;
		padding: 15px;
		outline-color: $blue-grey;
		border: 1px solid #e5e5e5;
		margin-bottom: 40px;
		background-image: url("../images/sprite.svg#comment");
		background-repeat: no-repeat;
		background-size: 20px 15px;
		background-position: 98% 20px;
		resize: none;

		@include r($r-sm) {
			margin-bottom: 15px;
		}

		&::placeholder {
			font-size: 14px;
			color: #999999;
		}
	}

	&__submit {
		background-color: $blue-grey;
		text-transform: uppercase;
		color: $white;
		font-size: 14px;
		@extend %rubik;
		padding: 15px 42px 15px 42px;
		font-weight: 400;
	}
}