$top : #436372;
$default : #191919;
$bg: #fcd7b6;
$btnfont: #fff;
$title :#243f4d;
$infotitle: #414141;
$main :#585858;
$price :#a3bbc8; 
$news: #262626;
$date: #222933;
$footertitles: #1f2044;
$footeerlinks : #7b7b7b;
$btn: #a3bbc8;
$white: #fff;
$grey: #edf1f4;
%dmsans-400{
    font-family: 'DMSans', sans-serif;
    font-weight: 400;
}
%dmsans-500{
    font-family: 'DMSans', sans-serif;
    font-weight: 500;
}
%dmsans-700{
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}

%rubik-400{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}
%rubik-500{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
%icons{
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    width: 19px;
    height: 17px;
    text-align: center;
    display: flex;
    margin: auto;
}
%center{
    display: flex;
    justify-content: center;
    align-items: center;
}
%btn{
    cursor: pointer;
    outline: transparent; 
}