$top : #436372;
$default : #191919;
$bg: #fcd7b6;
$title :#243f4d;
$infotitle: #414141;  
$main :#585858;
$news: #262626;
$date: #222933;
$footertitles: #1f2044;
$footeerlinks : #7b7b7b;
$btn: #a3bbc8;  
$white: #fff;
$grey: #edf1f4;
$section: #fef7f0;
$item :#8b8b8b;
%dmsans-400{
    font-family: 'DMSans', sans-serif;
    font-weight: 400;
}
%dmsans-500{
    font-family: 'DMSans', sans-serif;
}
%dmsans-700{
    font-family: 'DMSans', sans-serif;
    font-weight: 700;
}

%rubik-400{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}
%rubik-500{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}
%icons{
    cursor: pointer;
    transition: background-color ease 0.3s;
    &:hover{
        background-color:$top;
        path{
            transition: fill  ease 0.3s;
           fill: $white;
        }
    }}
%btn{
    cursor: pointer;
    outline: transparent; 
}
%card-btn{
    @extend %dmsans-700;
    color: $item;
    @extend %btn;
    background-color: transparent;
    transition: color ease 0.5s;
    margin-bottom: 85px;
    &:hover{
        color: $bg;
    } 
    &:focus{
        color: $default;
    }
}

