.articles {
    background-image: linear-gradient(to bottom, transparent 50%, $white-200 50%);
    padding: 95px 0 85px;

    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;

    }

    &__view-all {
        @extend %dmsans;
        font-weight: 700;
        color: $black-500;
        padding-right: 25px;
        position: relative;
        display: flex;
        align-items: center;
        border-bottom: 1px solid transparent;
        transition: color ease 0.5s;

        &:focus {
            border-color: $black-200;
        }

        &:hover {
            color: $blue-grey;

            &::after {
                right: -10px;
            }
        }

        &:active {
            color: $orange;
            border-color: $orange;
        }

        &::after {
            content: ">";
            position: absolute;
            right: 0;
            font-size: 22px;
            top: 20px;
            transition: right ease 0.5s;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: -30px;
        margin-bottom: 55px;
    }

    &__item {
        max-width: 370px;
        width: 100%;
        margin-right: 30px;
        margin-bottom: 30px;
    }
}

.silder-brands {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 50px;
    width: 100%;

    &__item {

        height: 100px;
        display: flex !important;
        align-items: center;
    }
}