.articles {
    background-image: linear-gradient(to bottom, transparent 50%, $white-200 50%);
    padding: 65px 0 85px;

    @include r ($r-lg) {
        padding: 65px 0;
    }

    @include r ($r-m) {
        padding: 35px 0;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;

        @include r ($r-m) {
            flex-direction: column;
        }

    }

    &__view-all {
        @extend %dmsans;
        font-weight: 700;
        color: $black-500;
        padding-right: 25px;
        position: relative;
        display: flex;
        align-items: center;
        border-bottom: 1px solid transparent;
        transition: color ease 0.5s;

        @include r ($r-m) {
            padding-right: 20px;
            justify-content: flex-end
        }

        &:focus {
            border-color: $black-200;
        }

        &:hover {
            color: $blue-grey;

            &::after {
                right: -10px;

                @include r ($r-m) {
                    right: -5px;
                }
            }
        }

        &:active {
            color: $orange;
            border-color: $orange;
        }

        &::after {
            content: ">";
            position: absolute;
            right: 0;
            font-size: 22px;
            top: 20px;
            transition: right ease 0.5s;

            @include r ($r-m) {
                top: -4px;
            }
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: -30px;
        margin-bottom: 55px;

        @include r($r-xl) {
            margin-right: 0;
        }

        @include r($r-m) {
            margin-bottom: 25px;
        }
    }

    &__item {
        max-width: 370px;
        width: 100%;
        margin-right: 30px;
        margin-bottom: 30px;

        @include r($r-lg) {
            margin-right: 15px;
        }

        @include r($r-m) {
            margin-right: 0;
        }
    }
}