.design {
    padding-bottom: 10px;

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: -30px;
        margin-bottom: 85px;
    }

    &__item {
        width: 370px;
        margin-right: 30px;
        margin-bottom: 35px;
    }
}