.design {
    padding-bottom: 10px;

    &__cards {
        @include cards;
        margin-bottom: 85px;

        @include r($r-xl) {
            margin-right: 0;
        }

        @include r($r-m) {
            margin-bottom: 20px;
        }
    }

    &__item {
        @include card-item;
        margin-bottom: 35px;

        @include r($r-lg) {
            margin-right: 10px;
            margin-bottom: 10px;
        }

        @include r($r-sm) {
            margin-right: 0;
        }
    }
}