.footer {
    padding-top: 75px;
    font-size: 14px;
    color: $grey-200;

    @include r($r-m) {
        background-color: $white-300;
        font-size: 18px;
        padding-top: 30px;
    }

    &__logo {
        display: flex;
        margin-bottom: 27px;
    }

    &__top {
        display: flex;
        position: relative;
        justify-content: space-between;
        margin-bottom: 70px;

        @include r($r-lg) {
            flex-wrap: wrap;
            justify-content: center;
        }


        @include r($r-m) {
            margin-bottom: 0;
        }
    }

    &__nav {
        &:not(:first-child) {
            padding-left: 10px;

            @include r($r-lg) {
                padding-left: 0;
            }

            @include r($r-sm) {
                max-width: 50%;
            }
        }

        &:last-child {
            padding-left: 20px;

            @include r($r-lg) {
                padding-left: 0;
            }

            @include r($r-sm) {
                max-width: 100%;
            }
        }

        width: 25%;

        @include r($r-xl) {
            width: auto;
        }

        @include r($r-lg) {
            width: 40%;
            margin-bottom: 30px;
        }

        @include r($r-m) {
            max-width: 260px;
            width: 100%;

        }

        @include r($r-sm) {
            max-width: 100%;
        }
    }

    &__link {
        color: $grey-200;
        font-size: 14px;
        border: 1px solid transparent;
        transition: color border-color ease 0.5s;
        @include actions-100
    }

    &__title {
        @extend %dmsans;
        font-size: 16px;
        font-weight: 700;
        color: $black-300;
        margin: 16px 0;
        text-transform: uppercase;
    }

    &__item:not(:last-child) {
        margin-bottom: 12px;
    }

    &__input {
        max-width: 170px;
        margin-right: -5px;
        background-color: $white-200;
        border: 1px solid transparent;
        padding: 0 15px;
        height: 38px;
        outline: transparent;

        @include r($r-lg) {
            width: 150px;
        }

        &:focus {
            border-color: $blue-grey;
        }

        &::placeholder {
            color: #234969;
            font-size: 12px;
        }
    }

    &__btn {
        @extend %dmsans;
        height: 38px;
        color: $white;
        font-size: 14px;
        background-color: $blue-grey;
        padding: 9px 17px;
        transition: background-color ease 0.5s;

        &:focus {
            background-color: $black-600;
        }

        &:hover {
            background-color: $blue-dark;
        }

        &:active {
            color: $orange;
            background-color: $black-200;
        }
    }

    &__text {
        max-width: 245px;
        margin-bottom: 38px;
        line-height: 1.6;
        @include text-clamp;
    }

    &__menu {
        .menu {
            &__item {
                padding: 0 15px;

                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }

                &:not(:last-child) {
                    margin-right: 0;
                    border-right: 1px solid $black-300;
                }

                @include r($r-m) {
                    border-bottom: none;
                }
            }

            &__link {
                padding: 3px 0;
                font-size: 14px;
                border-bottom: 1px solid transparent;
                color: $grey-100;
                @include actions-100;

            }

        }
    }
}

.address {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    font-style: normal;

    &__text {
        max-width: 190px;

        @include r($r-sm) {
            max-width: 100%;
        }

        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    &__link {
        color: $grey-200;
        border: 1px solid transparent;
        transition: color, border-color, all 0.3s;

        &:focus {
            border-bottom-color: $blue-dark;
        }

        &:hover {
            color: $blue-grey;
        }

        &:active {
            border-bottom-color: $blue-grey;
        }
    }
}

.copy {
    border-top: 1px solid $blue-grey;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;

    @include r($r-m) {
        padding: 15px 0;
        flex-wrap: wrap;
    }

    &__text {
        @include r($r-m) {
            margin-bottom: 20px;
        }
    }
}