.products {
    padding: 65px 0;

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: -30px;
        margin-bottom: 50px
    }

    &__card {
        margin-bottom: 40px;
        max-width: 270px;
        width: 100%;
        margin-right: 30px;
    }

    &__blocks {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        max-width: 870px;
        width: 100%;

        &:nth-child(odd) {
            margin-right: 30px;
        }

    }

}