.slider-main {
    &__inner {
        padding: 215px 0 44px;
        background-color: $orange;
        position: relative;
        z-index: 2;

        @include r($r-xl) {
            padding: 115px 0 30px;
        }

        @include r($r-lg) {
            padding: 55px 0 15px;
        }

        &::after {
            content: "";
            position: absolute;
            background-image: linear-gradient(-90deg, #fff, transparent);
            border-radius: 50%;
            height: 59vh;
            width: 59vh;
            right: 183px;
            top: 99px;
            z-index: -1;
            overflow: hidden;

            @include r($r-xl) {
                background-image: none;

            }
        }
    }


    &__list {}

    &__item {
        display: flex !important;
        justify-content: space-between;
        margin-bottom: 210px;
        position: relative;

        @include r($r-xl) {
            margin-bottom: 100px;
        }

        @include r($r-lg) {
            margin-bottom: 50px;
        }

        @include r($r-m) {
            flex-direction: column;
            align-items: center;
            margin-bottom: 25px;
        }
    }

    &__box {
        max-width: 80%;

        @include r($r-xl) {
            margin-right: 30px;
        }

        @include r($r-m) {
            margin-bottom: 25px;
            margin-right: 0;
        }
    }

    &__name {
        @include text-clamp;
        font-size: 72px;
        @extend %rubik;
        font-weight: 500;
        line-height: 1;
        text-transform: uppercase;
        color: $black-600;
        margin-bottom: 25px;
        max-width: 500px;

        @include r($r-xl) {
            font-size: 60px;
        }

        @include r($r-lg) {
            font-size: 50px;
        }

        @include r($r-m) {
            font-size: 40px;
        }

        @include r($r-sm) {
            font-size: 30px;
        }

        @include r($r-m) {
            max-width: 100%;
        }
    }

    &__content {
        max-width: 380px;
        font-size: 18px;
        letter-spacing: 0.1px;
        color: $blue-dark;
        line-height: 1.6;
        margin-bottom: 55px;
        @include text-clamp(5);
    }

    &__link {
        @include r($r-m) {
            padding-right: 60px;
        }

        background-color: $blue-grey;
        color: $white;

        &:focus {
            background-color: $black-300;
        }

        &:hover {
            background-color: $black-100;
        }

        &:active {
            background-color: $black-600;
        }
    }

    &__img {
        max-width: 650px;
        height: 320px;
        display: flex;
        align-items: flex-end;
        overflow: hidden;

        @include r($r-lg) {
            align-self: center;
            max-width: 450px;
            align-items: center;
        }

        @include r($r-m) {
            max-width: 380px;
            height: 220px;
        }
    }

    .slick-dots {
        display: flex;
        justify-content: center;

        li {
            opacity: 0.3;
            transition: opacity ease 0.5s;

            &:not(:last-child) {
                margin-right: 10px;
            }

            &:hover {
                opacity: 0.6;
            }
        }

        .slick-active {
            opacity: 1;
        }

        button {
            background-color: $white;
            width: 30px;
            height: 30px;
            font-size: 14px;
            border-radius: 50%;
            @extend %rubik;
            font-weight: 500;
            color: $black-600;
        }
    }
}

.service {
    display: flex;
    justify-content: center;


    @include r($r-m) {
        display: block;
    }

    &__item {
        display: flex;
        justify-content: center;
        padding: 40px 0px 40px 95px;
        max-width: 600px;
        width: 100%;
        line-height: 1.8;
        background-color: $white-200;

        &:first-child {
            max-width: 565px;

            @include r($r-lg) {
                max-width: 400px;
            }
        }

        &:not(:last-child) {
            border-right: 1px solid #e8e4df;

            @include r($r-m) {
                border-right: none;
                border: 1px solid #e8e4df;
            }
        }

        @include r($r-lg) {
            padding: 55px 20px 20px 20px;
            max-width: 400px;

        }

        @include r($r-m) {
            border: 1px solid #e8e4df;
            margin: 30px auto;
            box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.08);
        }
    }

    &__content {
        position: relative;

        &--delivery {
            padding-top: 10px;

            @include r($r-lg) {
                padding-top: 0;
            }
        }

        &::before {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
            width: 50px;
            left: -75px;
            top: 5px;

            @include r($r-lg) {
                left: 0;
                top: -46px;
            }
        }

        &--support::before {
            background-image: url('../images/support.svg');
            height: 50px;
        }

        &--delivery::before {
            background-image: url('../images/delivery.svg');
            height: 35px;
            left: -80px;
            top: 16px;

            @include r($r-lg) {
                left: 0;
                top: -30px;
            }
        }

        &--payment::before {
            background-image: url('../images/payment.svg');
            height: 45px;
            left: -85px;

            @include r($r-lg) {
                left: 0;
            }
        }
    }

    &__title {
        @extend %dmsans;
        font-weight: 700;
        font-size: 18px;
        color: $black-200;
        @include text-clamp(2);
    }

    &__text {
        max-width: 214px;
        @extend %dmsans;
        font-weight: 400;
        color: $grey-200;
        @include text-clamp
    }
}