.slider-main {
    &__inner {
        padding: 215px 0 100px;
        background-color: $orange;
    }

    &__list {
        position: relative;
        z-index: 2;
        padding: 0 15px;

        &::after {
            content: "";
            position: absolute;
            background-image: linear-gradient(-90deg, #fff, transparent);
            border-radius: 50%;
            height: 60vh;
            width: 60vh;
            right: -110px;
            top: -120px;
            z-index: -1;
        }
    }

    &__item {
        display: flex !important;
        justify-content: space-between;
        margin-bottom: 200px;
        position: relative;
    }

    &__name {
        @include text-clamp;
        font-size: 72px;
        @extend %rubik-500;
        line-height: 1;
        text-transform: uppercase;
        color: $black-600;
        margin-bottom: 30px;
        max-width: 500px;
    }

    &__content {
        max-width: 380px;
        font-size: 18px;
        letter-spacing: 0.4px;
        color: $blue-dark;
        margin-bottom: 60px;

        p {
            @include text-clamp;
            text-overflow: ellipsis;
        }
    }

    &__link {
        padding: 22px 100px 20px 28px;
        background-color: $blue-grey;
        color: $white;
        font-size: 15px;
        position: relative;
        outline: transparent;
        transition: background-color ease 0.5s;

        &::after {
            content: "";
            position: absolute;
            background-image: url('../images/arrow.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 22px;
            height: 9px;
            right: 22px;
            top: 25px;
            transition: right ease 0.5s;
        }

        &:focus {
            background-color: $black-300;
        }

        &:hover {
            background-color: $black-100;

            &::after {
                right: 12px;
            }
        }

        &:active {
            background-color: $black-600;
        }
    }

    &__img {
        max-height: 260px;
        align-self: flex-end;
        object-fit: contain;
    }

    .slick-dots {
        display: flex;
        position: absolute;
        left: 50%;
        bottom: -55px;

        li {
            opacity: 0.3;
            transition: opacity ease 0.5s;

            &:not(:last-child) {
                margin-right: 10px;
            }

            &:hover {
                opacity: 0.6;
            }
        }

        .slick-active {
            opacity: 1;
        }

        button {
            background-color: $white;
            width: 30px;
            height: 30px;
            font-size: 14px;
            border-radius: 50%;
            @extend %rubik-500;
            color: $black-600;
        }
    }
}

.service {
    display: flex;
    justify-content: center;
    background-color: $white-200;

    &__item {
        display: flex;
        justify-content: center;
        padding: 40px 0px 35px 80px;
        max-width: 600px;
        width: 100%;
        line-height: 1.8;

        &:first-child {
            max-width: 565px;
        }

        &:not(:last-child) {
            border-right: 1px solid #e8e4df;
        }
    }

    &__content {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
            width: 50px;
            left: -75px;
            top: 5px;
        }

        &--support::before {
            background-image: url('../images/support.svg');
            height: 50px;
        }

        &--delivery::before {
            background-image: url('../images/delivery.svg');
            height: 35px;
        }

        &--payment::before {
            background-image: url('../images/payment.svg');
            height: 45px;
        }
    }

    &__title {
        @extend %dmsans-700;
        font-size: 18px;
        letter-spacing: 0.8px;
        color: $black-200;
        @include text-clamp;
        -webkit-line-clamp: 2;
    }

    &__text {
        max-width: 215px;
        @extend %dmsans-400;
        color: $grey-200;
        @include text-clamp
    }
}