.slider-main {
    &__inner {
        padding: 215px 0 100px;
        background-color: $orange;
    }

    &__list {
        position: relative;
        z-index: 2;

        &::after {
            content: "";
            position: absolute;
            background-image: linear-gradient(-90deg, #fff, transparent);
            border-radius: 50%;
            height: 59vh;
            width: 59vh;
            right: -121px;
            top: -114px;
            z-index: -1;
        }
    }

    &__item {
        display: flex !important;
        justify-content: space-between;
        margin-bottom: 200px;
        position: relative;
    }

    &__name {
        @include text-clamp;
        font-size: 72px;
        @extend %rubik;
        font-weight: 500;
        line-height: 1;
        text-transform: uppercase;
        color: $black-600;
        margin-bottom: 25px;
        max-width: 500px;
    }

    &__content {
        max-width: 380px;
        font-size: 18px;
        letter-spacing: 0.1px;
        color: $blue-dark;
        line-height: 1.6;
        margin-bottom: 55px;

        p {
            @include text-clamp;
            text-overflow: ellipsis;
        }
    }

    &__link {
        background-color: $blue-grey;
        color: $white;

        &:focus {
            background-color: $black-300;
        }

        &:hover {
            background-color: $black-100;
        }

        &:active {
            background-color: $black-600;
        }
    }

    &__img {
        max-height: 260px;
        padding: 15px 0;
        align-self: flex-end;
        object-fit: contain;
    }

    .slick-dots {
        display: flex;
        position: absolute;
        left: 50%;
        bottom: -55px;

        li {
            opacity: 0.3;
            transition: opacity ease 0.5s;

            &:not(:last-child) {
                margin-right: 10px;
            }

            &:hover {
                opacity: 0.6;
            }
        }

        .slick-active {
            opacity: 1;
        }

        button {
            background-color: $white;
            width: 30px;
            height: 30px;
            font-size: 14px;
            border-radius: 50%;
            @extend %rubik;
            font-weight: 500;
            color: $black-600;
        }
    }
}

.service {
    display: flex;
    justify-content: center;
    background-color: $white-200;

    &__item {
        display: flex;
        justify-content: center;
        padding: 40px 0px 40px 95px;
        max-width: 600px;
        width: 100%;
        line-height: 1.8;

        &:first-child {
            max-width: 565px;
        }

        &:not(:last-child) {
            border-right: 1px solid #e8e4df;
        }
    }

    &__content {
        position: relative;

        &--delivery {
            padding-top: 10px;
        }

        &::before {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
            width: 50px;
            left: -75px;
            top: 5px;
        }

        &--support::before {
            background-image: url('../images/support.svg');
            height: 50px;
        }

        &--delivery::before {
            background-image: url('../images/delivery.svg');
            height: 35px;
            left: -80px;
            top: 16px;
        }

        &--payment::before {
            background-image: url('../images/payment.svg');
            height: 45px;
            left: -85px;
        }
    }

    &__title {
        @extend %dmsans;
        font-weight: 700;
        font-size: 18px;
        color: $black-200;
        @include text-clamp;
        -webkit-line-clamp: 2;
    }

    &__text {
        max-width: 214px;
        @extend %dmsans;
        font-weight: 400;
        color: $grey-200;
        @include text-clamp
    }
}