.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 10px 30px;
    border-radius: 10px;
    box-shadow: 0 6px 47px 3px rgba(37, 37, 37, 0.05);

    &:hover {
        .product-card__icons {
            opacity: 1;
        }

    }

    &__img {
        height: 295px;
        display: flex;
        align-items: center;

        img {
            height: 100%;
            object-fit: scale-down;
        }
    }


    &__name {
        color: $black-600;
        @extend %dmsans;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 5px;
        @include text-clamp;
        -webkit-line-clamp: 1;
    }


    &__price {
        @extend %dmsans;
        font-weight: 700;
        color: $blue-grey;
        @include text-clamp;
        -webkit-line-clamp: 1;
    }

    &__icons {
        position: absolute;
        top: 50%;
        display: flex;
        opacity: 0;
        transition: opacity ease 0.8s;

        @include r ($r-lg) {
            opacity: 1;
            top: 60%;
        }
    }

    &__icon {
        @include center;
        @include icon;

        &:not(:last-child) {
            margin-right: 15px;
        }

        box-shadow: 0 10px 47px 10px rgba(37, 37, 37, 0.05);
        background-color: $white;
        border-radius: 50%;
        height: 45px;
        width: 45px;
        outline: transparent;
        transition: background-color ease 0.5s;
        cursor: pointer;
    }

    &__svg {
        fill: $blue-grey;
    }
}