.video {
    position: relative;
    margin-bottom: 32px;

    &::before {
        content: "";
        position: absolute;
        background-color: $black-100;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &__popup {
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        transition: opacity ease 0.5s;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 2;
        position: relative;

        @include r($r-xl) {
            height: 500px;
        }

        @include r($r-lg) {
            height: 400px;
        }

        @include r($r-m) {
            display: none;
        }

        &:hover {
            opacity: 0.7;

            .video__svg {
                height: 35px;
                width: 35px;
            }

            &::before {
                background-color: $black-300;
            }

        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            background-color: $blue-grey;
            border-radius: 50%;
            transition: background-color, opacity ease 0.5s;
        }

        &::before {
            width: 98px;
            height: 98px;
        }

        &::after {
            opacity: 0.4;
            width: 127px;
            height: 127px;
        }
    }

    &__svg {
        position: relative;
        fill: $white;
        transition: all ease 0.5s;

    }
}