.breadcrumbs {
    background-color: $white-100;
    text-align: center;
    padding: 20px 0 30px;
    line-height: 1.4;

    &__title {
        @extend %rubik;
        font-weight: 300;
        font-size: 36px;
        color: $black-400;
    }

    &__list {
        display: flex;
        justify-content: center;
    }

    &__link {
        color: $black-400;
        font-size: 14px;
        padding: 5px 10px;
        transition: color, all 0.3s;
        position: relative;

        &--home {
            &::after {
                content: "/";
                position: absolute;
                right: -4px;
                top: 2px;
                font-size: 16px;
            }

            &:focus {
                color: $grey-200;
            }

            &:hover {
                color: $blue-grey;
            }

            &:active {
                color: $black-600;
            }
        }

        &--on {
            color: $grey-200;
        }
    }
}