.team {
    &__inner {
        text-align: left;
        display: flex;
        justify-content: space-between;

        @include r($r-xl) {
            flex-direction: column;
        }
    }

    &__title {
        line-height: 1;
        text-align: left;
        margin-bottom: 22px;
    }

    &__info {
        line-height: 1.9;
        max-width: 310px;

        @include r($r-xl) {
            max-width: 600px;
            width: 100%;
            margin: 0 auto 40px;
        }
    }

    &__text {
        margin-bottom: 45px;
        @include text-clamp(20);
    }

    &__join {
        background-color: $blue-grey;
        @extend %poppins;
        font-weight: 600;
        border-radius: 5px;
        padding: 14px 57px 14px 18px;
        color: $white-100;

        &:focus {
            background-color: $black-600;
        }

        &:hover {
            background-color: $blue-dark;
        }

        &:active {
            &::after {
                right: 15px;
            }
        }

        &::after {
            content: "";
            position: absolute;
            background-image: url('../images/sprite.svg#angle-right');
            width: 15px;
            height: 11px;
            background-repeat: no-repeat;
            top: 20px;
            right: 23px;
            transition: right ease 0.5s;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        @include r($r-xl) {
            justify-content: center;
        }
    }

    &__item {
        max-width: 370px;
        width: 100%;
        margin-bottom: 40px;
        position: relative;
        box-shadow: 0 10px 47px 10px rgba(37, 37, 37, 0.05);

        @include r($r-xl) {
            margin-right: 30px;
        }

        @include r($r-lg) {
            margin-right: 10px;
            max-width: 350px;
        }

        &:nth-child(odd) {
            margin-right: 30px;

            @include r($r-lg) {
                margin-right: 10px;
            }
        }

    }

    &__img {
        height: 380px;
        overflow: hidden;
    }

    &__box {
        display: flex;
        justify-content: space-between;
        padding: 30px 22px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 47px;
        background-color: $white;
        overflow: hidden;

        @include r($r-m) {
            right: 0;
            padding: 15px 15px;
            align-items: center;
        }

    }

    &__name {
        display: block;
        @extend %dmsans;
        font-weight: 700;
        font-size: 22px;
        line-height: 1;
        margin-bottom: 10px;
        color: $blue-dark;
        @include text-clamp(2);
    }

    &__job {
        @include text-clamp(2);
    }

    &__links {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

    }

    &__social {
        &:not(:last-child) {
            margin-right: 5px;

            @include r($r-m) {
                margin-right: 0;
            }
        }
    }

    &__link {
        height: 41px;
        width: 41px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f6f6f6;
        transition: background-color ease 0.5s;

        &:focus {
            background-color: $grey-200;
        }

        &:hover {
            background-color: $blue-grey;

            .team__svg--inst {
                fill: #C13584;
            }

            .team__svg--google {
                fill: #db4a39
            }
        }

        &:focus {
            background-color: $black-600;
        }
    }

    &__svg {
        transition: fill ease 0.5s;
    }

}